black
css-inline
fillpdf
Flask
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
ics
PyMySQL
python-dateutil
python-dotenv
recipe-scrapers
SQLAlchemy
wifi-qrcode-generator
pdfkit