{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block proheader %}
{{current_user.firstname}}'s Dashboard
{% endblock %}

{% block content %}
<a href="https://www.onlymylife.me/printing"><button>3D Printing Cost Calculator</button></a>

<div id="accordion">
    {% if cntMeds != 0 %}
    <div class="card" class="main">
        <div class="card-header" id="medsHeader">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#meds" aria-expanded="false"
                    aria-controls="meds"><h4>
                    Medications <span class="badge rounded-pill alert-primary">{{cntMeds}}</span>
                </h4></button>
            </h5>
        </div>
        <div id="meds" class="collapse" aria-labelledby="medsHeader" data-parent="#accordion">
            <div class="card-body">
                <a href="{{ url_for('health.medications_reorder') }}"><button
                        class="btn btn-success">Reorder</button></a>
                <table class="table table-striped">
                    <caption class="table-caption">* Due within the next 5 days</caption>
                    <thead>
                        <th>Medication</th>
                        <th>Dose</th>
                        <th>Reason</th>
                        <th>Date</th>
                        <th> </th>
                    </thead>
                    <tbody>
                        {% for med in meds %}
                        {% if med.next_refill.strftime("%m/%d/%Y") >= med.next_refill.now().strftime("%m/%d/%Y") %}
                        <tr class="text-success">
                            <td><a class="text-success" href="/health/medupdate/{{med.id}}">{% else %}
                        <tr class="text-danger">
                            <td><a class="text-danger" href="/health/medupdate/{{med.id}}">{% endif %}
                                    {{med.name}}</a></td>
                            <td>{{med.dose}}</td>
                            <td>{{med.reason_for_taking}}</td>
                            <td>{{med.next_refill.strftime("%m/%d/%Y")}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if cntMenu != 0 %}
    <div class="card" class="main">
        <div class="card-header" id="menuHeader">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"
                    aria-controls="menu"><h4>
                    Menu <span class="badge rounded-pill alert-primary">{{cntMenu}}</span>
                </h4></button>
            </h5>
        </div>
        <div id="menu" class="collapse" aria-labelledby="menuHeader" data-parent="#accordion">
            <div class="card-body">
                <div class="d-flex">
                    <div class="p-2">
                        <h4>Week Of {{firstdow}} - {{lastdow}}</h4>
                    </div>
                </div>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr class="row">
                            <th class="col-2">Date</th>
                            <th class="col-3">Main</th>
                            <th class="col-3">Sides</th>
                            <th class="col-2">Drink</th>
                            <th class="col-2">Dessert</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans%}
                        <tr class="row">
                            <td class="col-2">
                                <a href="{{url_for('menu.menu_single', id=plan.id)}}" class="btn text-left"><b>{{plan.date.strftime('%A')}}</b>
                                    {% for holiday in holidays  %}
                                    {% if holiday.date.strftime('%Y%m%d') == plan.date.strftime('%Y%m%d') %}
                                        <br> <span class="small text-info">{{holiday.holiday}}</span>
                                        {% endif %}
                                        {% endfor %}
                                    <br> <span class="small">{{plan.date.strftime('%m/%d/%Y')}}</span></a>
                            </td>
                            <td class="col-3">
                                {% for pd in plandish %}
                                {% if plan.id == pd.planidfk %}
                                {% for dish in dishes %}
                                {% if dish.id == pd.mainidfk %}
                                <a class="text-decoration-none text-black" href="{{url_for('menu.recipe_single', id=dish.id)}}">{{dish.name}}</a>
                                {% if not loop.last %}
                                <br>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="col-3">
                                {% for pd in plandish %}
                                {% if plan.id == pd.planidfk %}
                                {% for dish in dishes %}
                                {% if dish.id == pd.sideidfk %}
                                <a class="text-decoration-none text-black" href="{{url_for('menu.recipe_single', id=dish.id)}}">{{dish.name}}</a>
                                {% if not loop.last %}
                                <br>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="col-2">
                                {% for pd in plandish %}
                                {% if plan.id == pd.planidfk %}
                                {% for dish in dishes %}
                                {% if dish.id == pd.drinkidfk %}
                                <a class="text-decoration-none text-black" href="{{url_for('menu.recipe_single', id=dish.id)}}">{{dish.name}}</a>
                                {% if not loop.last %}
                                <br>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="col-2">
                                {% for pd in plandish %}
                                {% if plan.id == pd.planidfk %}
                                {% for dish in dishes %}
                                {% if dish.id == pd.dessertidfk %}
                                <a class="text-decoration-none text-black" href="{{url_for('menu.recipe_single', id=dish.id)}}">{{dish.name}}</a>
                                {% if not loop.last %}
                                <br>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if cntA1C != 0 %}
    <div class="card">
        <div class="card-header" id="a1cHeader">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#a1c" aria-expanded="false"
                    aria-controls="a1c"><h4>
                    Latest A1C: <span class="badge rounded-pill alert-primary">{{cntA1C}}</span>
                </h4></button>
            </h5>
        </div>
        <div id="a1c" class="collapse" aria-labelledby="a1cHeader" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>Date</th>
                        <th>A1C</th>
                        <th>E.A.G</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{currentvalue.ld.strftime("%m/%d/%Y")}}</td>
                            <td>{{currentvalue.testresult}}</td>
                            <td>{{eag}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if cntCpap != 0 %}
    <div class="card">
        <div class="card-header" id="cpapHeader">
            <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#cpap" aria-expanded="false"
                    aria-controls="cpap"><h4>
                    CPAP Supplies <span class="badge rounded-pill alert-primary">{{cntCpap}}</span>
                </h4></button>
            </h5>
        </div>
        <div id="cpap" class="collapse" aria-labelledby="cpapHeader" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <th></th>
                        <th>Name <br>
                            Last Ordered <br>
                            Next Order <br>
                            Item Number
                        </th>
                    </thead>
                    <tbody>
                        {% for cpap in cpaps %}
                        <tr>
                            <td width="100px"><a href="/health/cpap/{{cpap.id}}"><img src="{{cpap.imageURL}}"
                                        class="btn" width="90" height="90px"></a>
                            </td>
                            <td>
                                <strong>{{cpap.name}}</strong> <br>
                                <p class="small">({{cpap.itemnum}})</p>
                                Last Ordered: {{cpap.lastordered.strftime("%A %B %d, %Y")}} <br>
                                Next Order Date: {{cpap.nextorderdate.strftime("%A %B %d, %Y")}} <br>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}