{% macro render_submit(field) %}
    {{ field(class="btn btn-primary", **kwargs)|safe }}
    <ul>
    {% for error in field.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
{% endmacro %}


{% macro render_field_sm(field) %}
<div class="form-floating">
    {{ field(class="form-control", **kwargs)|safe }}
    {{ field.label }}
</div>
<ul>
{% for error in field.errors %}
    <li style="color:red;">{{ error }}</li>
{% endfor %}
</ul>
{% endmacro %}


{% macro small_field(field) %}
    {{ field(class="form-control",**kwargs)|safe }}
    <!-- {{ field.label }} -->
{% for error in field.errors %}
    <li style="color:red;">{{ error }}</li>
{% endfor %}
{% endmacro %}